{% extends "layout.html" %}

{% block body %}

<h1 class="display-4 mt-5">Haqqımızda</h1>
<hr>
<p>

<b>✦ Blog Django’nınn quruluşu</b><br>

2018-ci ilin Sentyabr ayında Əli Kəlbəliyev tərəfindən qurulan Blog Django’nun internet mühitində dünyadakı dəyişiklikləri incələyərək analiz edən və Azərbaycanda fəaliyyət göstərən Bloq saytıdır. Bizim bloqumuzda bir çox kateqoriyalarda ( Texnologiya, Səyahət, Yaşam və b.) məqalələr, bir çox akademik şəxslərin fikirlırərini və bəzi tövsiyyələri görə bilərsiniz. Blog Django'nun məqsədi tam olaraq oxucuları vacib informasiyalarla təmin etməkdir.
<br>
<br>
<b>✦ Biz kimik?</b><br>
Günümüzdə ən vacib şeylərdən biri informasiyadır. Biz bu bloqda sizlərə öyrəndiyimiz, təcrübələrimiz və sizə lazım ola biləcək informasiyaları çatdırmaq üçün çalışırıq.
Bloqdakı məqalələr bir neçə nəfərlik heyyət tərəfindən yazılır. Bundan əlavə qonaq yazarlarımızda mövcuddur.
</p>

{% endblock body %}
