{% extends "layout.html" %}
{% block body %}

<div class="row">

      <!-- Post Content Column -->
      <div class="col-lg-12">

        <!-- Title -->
        <h1 class="mt-4">{{article.title}}</h1>

        <!-- Author -->
        <p class="lead">
          Yazar: {{article.author.username}}
        </p>

        <hr>

        <!-- Date/Time -->
        <p>Tarix: {{article.created_at}}</p>

        <hr>
      {% if article.article_image %}
      <!-- Preview Image -->
        <img class="img-fluid rounded" src="{{article.article_image.url}}" alt="">

        <hr>
      
      {% endif %}
        

        <!-- Post Content -->
        <p class="lead">{{article.content|safe}}</p> 
        {% comment %} ck editorde ki yazilisini gostermek ucun safe {% endcomment %}

        
        <hr>

    
            {% comment %} Comment show  {% endcomment %}
        {% if comments %}
        <h3>Şərhlər</h3><hr><br>
          {% for comment in comments %}
          
                <div class="media mb-4">
                  <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
                  <div class="media-body">
                    <h5 class="mt-0">{{comment.comment_author}}</h5>
                    {{comment.comment_content}}
                    <p style="float:right" >{{comment.created_at}}</p>
                  </div>
                </div>
          {% endfor %}
        {% else %}
        <div class="alert alert-warning" >Bu məqalədə hələki şərh yoxdur...</div>
        {% endif %}

{% comment %} Comment form {% endcomment %}
          <div class="card my-4">
              <h5 class="card-header">Buradan fikrinizi bölüşə bilərsiniz..</h5>
              <div class="card-body">
                <form action="{% url 'article:comment' article.id %}" method="POST" >
                   {% csrf_token %}  
                    <div class="form-group">
                      <label for="name-comment">Ad Soyad</label>
                      <input type="text" class="form-control" id="name-comment" name="comment_author" placeholder="Əli Kəlbəliyev">
                    </div>
                  <div class="form-group">
                    <label for="content-comment">Şərhiniz</label>
                    <textarea id="content-comment" class="form-control" name="comment_content" rows="3"></textarea>
                  </div>
                  <button type="submit" class="btn btn-danger">Yaz</button>
                </form>
              </div>
            </div>
      
    </div>
</div>



     
     

{% endblock body %}

