{% extends "layout.html" %}

{% block body %}

<div class="jumbotron text-center mt-5"> 
{% comment %} Burdaki jumbotron xususi dizayndi {% endcomment %}
    <h3 class="display-4" >Ana Səhifə</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos iure libero adipisci, sed, dolor, assumenda aliquam voluptas natus saepe quibusdam aperiam nulla blanditiis tempora possimus rem laboriosam architecto fuga repudiandae.</p>
</div>

<p>
 {% if request.user.is_authenticated %}
      Giriş Yapılmış - {{request.user.username}}
      {% else %}
      Giriş yapılmamış  
      {% endif %}

</p>
{% endblock body %}