{% extends "layout.html" %}
{% block body %}
{% load crispy_forms_tags %}

<div class="row">
    <div class="col-md-6 offset-md-3">
        <h3 class="mt-5">Qeydiyyat</h3>
        <hr>

{% comment %} crispy formlar ile dizayn etmek olur   {% endcomment %}
        <form  method="POST">

            {% csrf_token %}
            {% comment %} {{form.as_p}} {% endcomment %}
            {{form|crispy}}
            <button type="submit" class="btn btn-danger" > Qeyd ol </button>
        </form>
    
    </div>
</div>
{% endblock body %}